# 1) Importing the datasets

In [1]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [2]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 15128860795834462249
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 14626652160
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 15660473391517781321
 physical_device_desc: "device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5"
 xla_global_id: 416903419]

In [3]:
!cat /proc/meminfo

MemTotal:       13290480 kB
MemFree:         7821608 kB
MemAvailable:   11842272 kB
Buffers:          341748 kB
Cached:          3874064 kB
SwapCached:            0 kB
Active:           683384 kB
Inactive:        4387520 kB
Active(anon):       1108 kB
Inactive(anon):   865596 kB
Active(file):     682276 kB
Inactive(file):  3521924 kB
Unevictable:           4 kB
Mlocked:               4 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:              8532 kB
Writeback:             0 kB
AnonPages:        852988 kB
Mapped:           725440 kB
Shmem:             11604 kB
KReclaimable:     114808 kB
Slab:             161752 kB
SReclaimable:     114808 kB
SUnreclaim:        46944 kB
KernelStack:        4796 kB
PageTables:        13732 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6645240 kB
Committed_AS:    2545140 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       79172 kB
VmallocChunk:          0 kB
Percpu:             1088 kB
HardwareCorrupted:     0 kB
AnonHugePages:      8192 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:      222008 kB
DirectMap2M:     5017600 kB
DirectMap1G:    10485760 kB

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
data= pd.read_csv('/content/drive/MyDrive/ColabData/ayra/test.ft.txt', sep='\t')
columan_name = ['Name']
data.columns = columan_name

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/ColabData/ayra/test.ft.txt'

In [ ]:
data .head()

                                                Name
0  __label__2 One of the best game music soundtra...
1  __label__1 Batteries died within a year ...: I...
2  __label__2 works fine, but Maha Energy is bett...
3  __label__2 Great for the non-audiophile: Revie...
4  __label__1 DVD Player crapped out after one ye...

In [ ]:
data['Sentiment'] = data['Name'].str.split().str[0].str.strip()

In [ ]:
data.head()

                                                Name   Sentiment
0  __label__2 One of the best game music soundtra...  __label__2
1  __label__1 Batteries died within a year ...: I...  __label__1
2  __label__2 works fine, but Maha Energy is bett...  __label__2
3  __label__2 Great for the non-audiophile: Revie...  __label__2
4  __label__1 DVD Player crapped out after one ye...  __label__1

In [ ]:
Data1=data.copy()

In [ ]:

for i in Data1.Sentiment:
  if i =='__label__1':
    i==1
  else:
    i==2

In [ ]:
Data1.Sentiment.value_counts()

__label__1    200000
__label__2    199999
Name: Sentiment, dtype: int64

In [ ]:
# Data1['SentNum'] = Data1['Sentiment'].replace(['__label__1'],1)
Data1['Sentiment'] = Data1['Sentiment'].replace(['__label__1','__label__2'],[1,2])

In [ ]:
Data1.head()

                                                Name  Sentiment
0  __label__2 One of the best game music soundtra...          2
1  __label__1 Batteries died within a year ...: I...          1
2  __label__2 works fine, but Maha Energy is bett...          2
3  __label__2 Great for the non-audiophile: Revie...          2
4  __label__1 DVD Player crapped out after one ye...          1

In [ ]:
df= Data1.copy()

In [ ]:
df['Name'] = df['Name'].apply(lambda x: ' '.join(x.split(' ')[1:]))

In [ ]:
df.head()

                                                Name  Sentiment
0  One of the best game music soundtracks - for a...          2
1  Batteries died within a year ...: I bought thi...          1
2  works fine, but Maha Energy is better: Check o...          2
3  Great for the non-audiophile: Reviewed quite a...          2
4  DVD Player crapped out after one year: I also ...          1

In [ ]:
df.shape

(399999, 2)

In [ ]:
df['Sentiment'].value_counts()

1    200000
2    199999
Name: Sentiment, dtype: int64

In [ ]:
data[['Sentiment','Review']] = data.Name.str.split("_",expand=True,)

ValueError: ignored

In [ ]:
data.head()

In [ ]:
# Assign column names
columan_name = ['Review', 'Sentiment']
data_yelp.columns = columan_name

In [ ]:
data_yelp.head()

In [ ]:
data_yelp.shape
# 1000 rows (reviews), 2 columns (Sentiments)

In [ ]:
data_amazon = pd.read_csv('/content/amazon_cells_labelled.txt',sep='\t',header=None)
data_amazon.head()
# review and sentiment
# 0-Negative, 1-Positive for positive review

In [ ]:
data_amazon.columns = columan_name

In [ ]:
data_amazon.head()

In [ ]:
data_amazon.shape

In [ ]:
data_imdb = pd.read_csv('/content/imdb_labelled.txt',sep='\t',header=None)
data_imdb.head()

In [ ]:
data_imdb.columns = columan_name

In [ ]:
data_imdb.head()

In [ ]:
data_imdb.shape

In [ ]:
# Append all the data in a single dataframe

In [ ]:
data = data_yelp.append([data_amazon, data_imdb],ignore_index=True)

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
# check distribution of sentiments

In [ ]:
data['Sentiment'].value_counts()

# 1346 positive reviews
# 1362 Negative reviews

In [ ]:
# check for null values
df.isnull().sum()

# no null values in the data

Name         0
Sentiment    0
dtype: int64

In [ ]:
x = df['Name']
y = df['Sentiment']

# 2) Data Cleaning

In [ ]:
# here we will remove stopwords, punctuations
# as well as we will apply lemmatization

## Create a function to clean the data

In [ ]:
import string

In [ ]:
punct = string.punctuation

In [ ]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
from spacy.lang.en.stop_words import STOP_WORDS

In [ ]:
stopwords = list(STOP_WORDS) # list of stopwords

In [ ]:
# creating a function for data cleaning

In [ ]:
def text_data_cleaning(sentence):
  doc = nlp(sentence)

  tokens = [] # list of tokens
  for token in doc:
    if token.lemma_ != "-PRON-":
      temp = token.lemma_.lower().strip()
    else:
      temp = token.lower_
    tokens.append(temp)

  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)
  return cleaned_tokens

In [ ]:
# if root form of that word is not pronoun then it is going to convert that into lower form
# and if that word is a proper noun, then we are directly taking lower form, because there is no lemma for proper noun

In [ ]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")
# stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

## Vectorization Feature Engineering (TF-IDF)

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [ ]:
tfidf = TfidfVectorizer(tokenizer=text_data_cleaning)
# tokenizer=text_data_cleaning, tokenization will be done according to this function

In [ ]:
classifier = LinearSVC()

# 3) Train the model

## Splitting the dataset into the Train and Test set

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
x_train.shape, x_test.shape
# 2198 samples in training dataset and 550 in test dataset

In [ ]:
x_train.head()

## Fit the x_train and y_train

In [ ]:
clf = Pipeline([('tfidf',tfidf), ('clf',classifier)])
# it will first do vectorization and then it will do classification

In [ ]:
clf.fit(x, y)

In [ ]:
# in this we don't need to prepare the dataset for testing(x_test)

# 4) Predict the Test set results

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
# confusion_matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# classification_report
print(classification_report(y_test, y_pred))
# we are getting almost 77% accuracy

In [ ]:
accuracy_score(y_test, y_pred)
# 76% accuracy

In [ ]:
clf.predict(["Wow, I am learning Natural Language Processing in fun fashion!"])
# output is 1, that means review is positive

NameError: ignored

In [ ]:
clf.predict(["It's hard to learn new things!"])
# output is 0, that means review is Negative